<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add a new Workout</title>
  <link th:href="@{main.css}" rel="stylesheet" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
  </style>
</head>
<body>

<form action="#" th:action="@{/addWorkout}" th:object="${workout}" method="post">
  <label for="title">Title</label>
  <input type="text" th:field="*{workoutName}" id="title" placeholder="WorkoutName">
  <span th:if="${#fields.hasErrors('workoutName')}" th:errors="*{workoutName}"></span>
  <input type="submit" value="Add Workout">
</form>

</body>
</html>