<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library System</title>
</head>
<body>

<div th:switch="${workouts}">
    <h2 th:case="null">No Workouts yet!</h2>
    <div th:case="*">
        <h2>Welcome, we provide the following workouts:</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workout : ${workouts}">
                <td th:text="${workout.workoutName}"></td>
                <td><a th:href="@{/delete/{id}(id=${workout.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addWorkout">Add a new workout</a></p>
    <p><a href="/logout">Logout</a></p>
</div>

</body>
</html>