<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{main.css}" rel="stylesheet" />
    <title>Workout</title>
</head>
<body>
<h1>Workout</h1>

<p th:text="${workoutType}" th:unless="${session == null}">[...]</p>

<table>
    <thead>
    <tr>
        <th>Exercise</th>
        <th>Repetitions</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exercise : ${exerciseList}">
        <td th:text="${exercise.exerciseName}"></td>
        <td th:text="${exercise.repetitions}"></td>
        <td th:text="${exercise.duration}"></td>
    </tr>
    </tbody>
</table>

<h3><a href="/home">Go to Home</a></h3>

</body>
</html>